[Desktop Entry]
Encoding=UTF-8
Name=Notifications side panel.
Name[es]=Panel lateral de notificaciones.
Comment=Provides a side panel with the system notifications.
Comment[es]=Provee un panel lateral con las notificaciones del sistema.
Type=Service
Icon=preferences-desktop-notification
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Category=Tasks
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.plasma-light.notifications-sidebar
X-KDE-PluginInfo-Version=3.0
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-Provides=org.plasma-light.notifications-sidebar
X-KDE-Library=plasma_light_applet_notifications

X-Plasma-MainScript=ui/main.qml
X-Plasma-RequiredExtensions=LaunchApp
X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=ApplicationStatus
