[Desktop Entry]
Encoding=UTF-8
Name=Notifications sidebar.
Name[es]=Panel lateral de notificaciones.
Comment=Displasys notifications and jobs in a sidebar.
Comment[es]=Muestra las notificaciones y tareas del sistema en un panel lateral.
Type=Service
Icon=preferences-desktop-notification
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Category=Tasks
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.plasma-light.notifications-sidebar
X-KDE-PluginInfo-Version=3.0
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-Provides=org.plasma-light.notifications-sidebar
X-KDE-Library=plasma_light_applet_notifications
X-Plasma-MainScript=ui/main.qml
X-Plasma-RequiredExtensions=LaunchApp
